@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
  text-align: center;
  margin: 20px 0;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
  background-color: #f9f9f9;
  color: #333;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 80px;
    background: linear-gradient(45deg, #000000, #383333, #0e0d0d);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header img {
    width: 80px;
    height: auto;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(214, 214, 214);
    transition: color 0.5s ease, transform 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
    transform: scale(1.1) translateY(-2px); /* zoom + subida */
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#file-input {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #088178;
  border-radius: 5px;
  background-color: #fff;
  color: #222;
}

#file-input:focus {
  outline: none;
  border-color: #088178;
}

#summary {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 20px auto;
}

#file-input {
  display: block;
  margin: 20px auto;
  padding: 15px 30px;
  font-size: 16px;
  border: 2px solid #ff0000;
  border-radius: 50px;
  background-color: rgb(187, 70, 70);
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto;
}

#file-input::file-selector-button {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

#file-input:hover {
  background-color: #b13434;
  border-color: #530c0c;
  transform: scale(1.05);
}

#file-input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(8, 129, 120, 0.8);
}

#summary {
  margin-top: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.summary-item {
  width: 48%; /* Define o tamanho de cada item */
  margin-bottom: 20px; /* Espaçamento entre as seções */
}

.summary-item h3 {
  font-size: 18px;
  color: #222;
  margin-bottom: 10px;
}

.summary-item p {
  font-size: 16px;
  color: #465b52;
}

/* Adicionando responsividade para telas menores */
@media (max-width: 768px) {
  .summary-item {
    width: 100%;
  }
}
